<div class="admin-nav">
	Jump To...<br>
	<a onclick="goToByScroll('users')">Users</a><br>
	<a onclick="goToByScroll('forums')">Forums</a><br>
	<a onclick="goToByScroll('posts')">Posts</a><br>
	<a onclick="goToByScroll('comments')">Comments</a><br>
	<a onclick="goToByScroll('ncomments')">NComments</a><br>
	<a onclick="goToByScroll('broadcast')">Broadcast</a><br>
	<a onclick="goToByScroll('new_forum')">New Forum</a>
</div>

<%if current_user%><% if current_user.admin? %>
<div class="hero-unit"><h1 class="center">Admin Control Center</h1>
<br>
<div id="users"></div>
<div class="well">
	<h2 class="center">All Users</h2>
<ul class="no-lst admin">
	<% @users.each do |user| %>
		<li class="admin-in">
			<%= link_to user.name, user %> <%if user.admin %> - Admin <%end%> <%if user.moderator %> - Mod <%end%> 

				<div class="btn-group right">
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						Actions <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li> <%= link_to 'Edit', edit_user_path(user) %> </li>
						<% if user.email != 'joahd@gbergfamily.com' %>
							<% if !user.admin? %>
								<li> <%= link_to "Promote to Admin", {:controller => "users", :action => "make_admin", :id => user.id} %> </li>
							<%elsif user != current_user%>
								<li> <%= link_to "Demote from Admin", {:controller => "users", :action => "make_not_admin", :id => user.id} %> </li>
							<%end%>
						<%end%>
						<%if !user.moderator? %>
							<li> <%= link_to "Promote to Moderator", {:controller => "users", :action => "make_mod", :id => user.id} %> </li>
						<%elsif user != current_user%>
							<li> <%= link_to "Demote from Moderator", {:controller => "users", :action => "make_not_mod", :id => user.id} %> </li>
						<%end%>
						<li class="divider"></li>
						<li> <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %> </li>
					</ul>
				</div>
		</li>
	<%end%>
</ul></div>
<div id="forums"></div>
<div class="well">
	<h2 class="center">All Forums</h2>
		<ul class="no-lst admin">
			<% @forums.each do |forum| %>
				<li class="admin-in">
					<%= forum.title %> - <%= forum.posts.length%> posts.
					<% unless forum.id == 1 %>
						<div class="right">
							<%=link_to 'Delete', forum, method: :delete, data: { confirm: 'Are you sure?' } %>
						</div>
					<%end%>
				</li>
			<%end%>
		</ul>
</div>

</div>
<div id="posts"></div>
<div class="center well">
	<h2>Recent Posts</h2>
	<ul class="no-lst admin">
		<% @posts.each do |post|%>
			<% if post && post.title && post.user && post.user.name %>
				<li><%=link_to post.title, post%> by <%=link_to post.user.name, post.user%></li><% if post != @posts.last%><hr><%end%>
			<%end%>
		<%end%>
	</ul>
</div>
<div id="comments"></div>
<div class="center well">
	<h2>Recent Comments</h2>
	<ul class="no-lst admin">
		<% @comments.each do |comment|%>
			<% if comment && comment.content && comment.post %>
				<li>"<%=link_to comment.content, comment.post%>"</li><% if comment != @comments.last%><hr><%end%>
			<%end%>
		<%end%>
	</ul>
</div>
<div id="ncomments"></div>
<div class="center well">
	<h2>Recent Nested Comments</h2>
	<ul class="no-lst admin">
		<% @ncomments.each do |ncomment|%>
			<% if ncomment && ncomment.content %>
				<li>"<%= ncomment.content %>"</li><% if ncomment != @ncomments.last%><hr><%end%>
			<%end%>
		<%end%>
	</ul>
</div>
<div id="broadcast"></div>
<div class="well center">
	<h2>Admin Broadcast Notification</h2>
<%=form_for @notification do |f|%>
	&lt;span class="admin_alert"&gt;<%=f.text_field :content%>&nbsp;&lt;/span&gt;<br>
	<%=f.submit "Broadcast Notification", :class => 'btn' %>
<%end%>
</div>
<div id="new_forum"></div>
<div class="well center">
	<h2>New Forum</h2>
	<%= form_for @forum do |f| %>

	<%= f.text_field :title, :placeholder => "Title", :class => "signup_field" %>
	<br>
	<%= f.submit "Create Forum", :class => 'btn' %>
	<%end%>
</div>
</div>
<%else%>
	<%redirect_to_home("You do not have permissions to do this") %>
<% end %><%else%>
	<%redirect_to_home("You do not have permissions to do this") %><%end%>