<div class="hero-unit form"><h1>Stats</h1>
<br>
<div class="ranks_inline well rmargin">
	<b>Most +1's Recieved</b>
	<ol class="ranks">
	<% @users.each do |user| %>
		<li><%= link_to user.name, user %><p class=" right-aligned"><%=collect_plus(user)%></p></li>
	<%end%>
</div>
<div class="ranks_inline well lmargin">
	<b>Most +1's Given</b>
	<ol class="ranks">
	<% @rusers.each do |ruser| %>
		<li><%= link_to ruser.name, ruser %><p class=" right-aligned"><%=ruser.plusones.length%></p></li>
	<%end%>
	</ol>
</div>

<br>

<div class="ranks_inline well rmargin">
	<b>Most Posts</b>
	<ol class="ranks">
	<% @mp.each do |mp| %>
		<li><%= link_to mp.name, mp %><p class=" right-aligned"><%=collect_posts(mp)%></p></li>
	<%end%>
	</ol>
</div>
<div class="ranks_inline well lmargin">
	<b>Most Comments</b>
	<ol class="ranks">
	<% @mc.each do |mc| %>
		<li><%= link_to mc.name, mc %><p class=" right-aligned"><%=collect_comments(mc)%></p></li>
	<%end%>
	</ol>
</div>

<br>
<% if @tcp && @tcc && @tcc.post %>
	<%if @tcp.title && @tcc.post.title && @tcp.title %>
		<div class="ranks_inline well rmargin">
			<b>Most Commented Post</b><br>
			<%= link_to @tcp.title, @tcp %>
		</div>
		<div class="ranks_inline well lmargin">
			<b>Most Commented Comment</b><br>
			<%= link_to "Comment on: "+@tcc.post.title, @tcc.post %>
		</div>
	<%end%>
<%end%>
</ul></div>