<%= link_to '« Go back', root_url %><% if current_user %><%if current_user == @user || current_user.email == 'joahd@gbergfamily.com'%> or <%= link_to 'delete this user', @user, method: :delete, data: { confirm: 'Are you sure?' } %> if you really want to.<%end%><%end%><br><br>
<div id="small_container" class="left">
	<p class="inline"><%= image_tag avatar_url(@user, 200), :class => 'comment_avatar' %></p>
	<p class="inline"><br><br><br><br><br>Name: <%=@user.name%></p>
	<br><br><div id="user_activity">
		Post Activity:<br>
		<ul><%if @user.posts.length > 0 %>
			<% @user.posts.each do |post| %>
				<li>Posted <%= link_to post.title, post %> <%= time_ago_in_words(post.created_at) %> ago.</li>
			<% end %>
			<%else%>
				<li> <em>[No posts by this user]</em> </li>
			<%end%>
		</ul>
		All Comments:<br>
		<ul><%if @user.comments.length > 0 %>
			<% @user.comments.each do |comment| %>
				<li>Commented '<%= comment.content %>' on <%= link_to comment.post, comment.post %></li>
			<% end %>
			<%else%>
				<li><em>[No comments by this user]</em></li>
			<%end%>
		</ul>
	</div>
</div>