<br><br><div class="left user_left">      <% if current_user == @user %>
        <%= image_tag avatar_url(@user, 196), :class => 'current_user_pic comment_avatar' %>
      <% elsif @user.email == 'joahd@gbergfamily.com' %>
        <%= image_tag avatar_url(@user, 196), :class => 'admin_pic comment_avatar' %>
      <%else%>
        <%= image_tag avatar_url(@user, 196), :class => 'comment_avatar' %>
      <%end%><br>
	<h1><%=@user.name%></h1></div>
<div class="tabbable left user_tabs">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Post Activity</a></li>
    <li><a href="#tab2" data-toggle="tab">Comment Activity</a></li>
    <%if current_user%><%if current_user == @user || current_user.email == "joahd@gbergfamily.com" %><li><a href="#tab3" data-toggle="tab">Notifications</a></li><%end%><%end%>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <ul><%if @user.posts.length > 0 %>
		<% @user.posts.reverse.each do |post| %>
			<% if post && post.title && post.created_at%>
				<li>Posted <%= link_to post.title, post %> <%= time_ago_in_words(post.created_at) %> ago.</li><% unless post == @user.posts[0] %><hr><%end%>
		<% end %>
			<%end%>
		<%else%>
			<li> <em>[No posts by this user]</em> </li>
		<%end%>
	</ul>
    </div>
    <div class="tab-pane" id="tab2">
      <ul><%if @user.comments.length > 0 %>
		<% @user.comments.reverse.each do |comment| %>
			<% if comment.post && comment.post.title && comment.created_at%>
			<li>Commented on <%= link_to comment.post.title, comment.post %> <%= time_ago_in_words(comment.created_at) %> ago.</li><% unless comment == @user.comments[0] %><hr><%end%>
		<% end %>
		<%else%>
			<li><em>[No comments by this user]</em></li>
		<%end%>
	</ul>
    </div> <%if current_user%><%if current_user == @user || current_user.email == "joahd@gbergfamily.com" %>
    <div class="tab-pane" id="tab3">
      <ul><%if @user.notifications.length > 0 %>
		<%@user.notifications.reverse.each do |n|%>
			<% if n.content %>
			<li><%=raw n.content%>  <%= link_to 'Dismiss', n, method: :delete %></li><% unless n == @user.notifications[0] %><hr><%end%>
			<%end%>
		<% end %>
		<%else%>
			<li><em>No Notifications!</em></li>
		<%end%><%end%><%end%>
	</ul>
    </div>
  </div>
</div>