<br>

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, :class => 'new_post_title', :placeholder => "Post Title Here", :id => "title_field" %>
  </div>
  <div class="field">
    <div id="wmd-button-bar"></div>
    <%= f.text_area :content, :id => 'wmd-input', :placeholder => "Post Content Here" %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="actions">
    <%= f.submit(:class => 'btn') %>&nbsp; &nbsp;&nbsp;<span class="note"> Posts are parsed with <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown Syntax</a></span>
  </div>
<% end %>
