<p class="hidden" id="forum_id">
	<% if @forum %>
		<%= @forum.id %>
	<%else%>
		0
	<%end%>
</p>

<div class="hero-unit">
	<% if posts.length > 0 %>
<% posts.each do |post| %>
 <div class="post">
   <%= link_to post.title, post, :class => 'post_title' %> by <span class="post_author"><%=link_to post.user.name, post.user %> <%= time_ago_in_words(post.created_at) %> ago on <%= post.created_at.strftime("%b. %d %Y") %>. <%=pluralize(post.comments.length, 'comment')%>.</span>
<% unless post == posts.last %>
   <hr>
 <%end%>
</div>
<% end %>
<%else%>
	<p id="no_posts">
		<% if @forum && !params[:search] %>
			<em> No posts in this forum yet, go <a href="/posts/new?forum=<%=@forum.id%>">make one</a>!</em>
		<% elsif !params[:search] %>
			<em> No posts in this forum yet, go <a href="/posts/new?forum=1">make one</a>!</em>
		<%else%>
			<em> Sorry, no posts were found to match your query </em>
		<%end%>
	</p>
<%end%>
</div>

<%= will_paginate posts %>