<div class="hero-unit">
<% @posts.reverse.each do |post| %>
 <div class="post">
   <%= link_to post.title, post, :class => 'post_title' %> by <span class="post_author"><%=link_to post.user.name, post.user %> <%= time_ago_in_words(post.created_at) %> ago on <%= post.created_at.strftime("%b. %d %Y") %>. <%=pluralize(post.comments.length, 'comment')%>.</span>
<% unless post == @posts[0] %>
   <hr>
 <%end%>
</div>
<% end %>
</div>

<%= will_paginate @posts %>