<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Welcome.</h1>
    <p class="lead">This is my first project while I am trying to learn the ropes of the Ruby on Rails web framework.<br> All the code for this is open sourced on a <a href="https://github.com/JoahG/forumApp">Github Repository</a>. <br> Here's a list of all the posts.</p>
  </div>
</header>


<div class="hero-unit">
<% @posts.reverse.each do |post| %>
 <div class="post">
   <%= link_to post.title, post, :class => 'post_title' %> by <span class="post_author"><%=link_to post.user.name, post.user %> <%= time_ago_in_words(post.created_at) %> ago on <%= post.created_at.strftime("%b. %d %Y") %>. <%=pluralize(post.comments.length, 'comment')%>.</span>
<% unless post == @posts[0] %>
   <hr>
   <%end%>
 </div>
<% end %>
</div>