<header>
  <p>Welcome</p>
</header>
<div id="post_container">
<% @posts.each do |post| %>
  <div class="post">
    <%= link_to post.title, post, :class => 'post_title' %> by <span class="post_author"><%= post.user.email %></span>
    <% if current_user == post.user %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%end%>
  </div>
<% end %>
</div>

<div id="sign_in">
  <% if !current_user %>
    <p class="titlelg">Log In</p>
    <%= form_tag sessions_path do %>
      <p>
        <%= label_tag :email %><br>
        <%= text_field_tag :email, params[:email] %>
      </p>
      <p>
        <%= label_tag :password %><br>
        <%= password_field_tag :password %>
      </p>
      <span class="button"><%= submit_tag "Log in" %></span>
      <span class="button">or <%= link_to "Sign Up", sign_up_path %></span>
    <% end %>
  <% else %>
      <p class="titlelg">Welcome, <%= current_user.email %>!</p><br>
      <p class="centered">
        <%= link_to 'New Post', new_post_path %>
      </p>
  <%end%>
</div>