<script>
	$(document).ready(function(){
		if ($.url().param('forum')) {
			$(".tabbable .navbar .navbar-inner ul.nav li#"+( $.url().param('forum') )).addClass("active");
		} else {
			$(".tabbable .navbar .navbar-inner ul.nav li#0").addClass("active");
		}
	});
</script>

<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>Welcome.</h1>
		<p class="lead">This is my first project while I am trying to learn the ropes of the Ruby on Rails web framework.<br> All the code for this is open sourced on a <a href="https://github.com/JoahG/forumApp">Github Repository</a>.</p>
	</div>
</header>

<div class="tabbable">
	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav" id="forumnav">
				<li id="0"><%=link_to "All Posts", params.merge(:forum => nil, :page => 1)%></li>
				<% @forums.each do |forum| %>
					<li id="<%=forum.id%>">
						<%= link_to forum.title, params.merge(:forum => forum.id, :page => 1) %>
					</li>
				<%end%>
			</ul>
			<%= form_tag root_url, :method => 'get', :class => "navbar-search pull-right" do %>
				<%= hidden_field_tag :forum, params[:forum] %>
				<%= hidden_field_tag :page, 1 %>
				<%= text_field_tag :search, params[:search], :class => "search-query", :placeholder => "Search" %>
				<%= submit_tag "Search", :class => 'hidden', :name => nil %>
			<%end%>
		</div>
	</div>

	<div class="tab-content" id="front-page-change">
		<div class="tab-pane active" id="tab0">
			<%= render :partial => 'posts', :object => @posts, :locals => {:forum => Forum.all.first} %>
		</div>
	</div>
</div>