<div class="underlay"></div>
<div class="overlay hero-unit">
  <%=image_tag "rem.png", :class => "close_overlay"%>
  <form accept-charset="UTF-8" action="" class="edit_comment" id="edit_comment_96" method="post" data-remote="true">
  <div class="field">
      <textarea cols="40" id="t-input" name="comment[content]" placeholder="Comment Content Here" rows="20">test123</textarea>
  </div>
  <div class="actions"><input class="btn" name="commit" type="submit" value="Update Comment">&nbsp; &nbsp;&nbsp;<span class="note"> Comments are parsed with <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown Syntax</a></span></div></form>
</div>

<div id="post_nav">
  <a onclick="goToByScroll('top')">&uarr;</a><br>
  –<br>
  <a onclick="goToByScroll('bottom')">&darr;</a>
</div>
<div id="top"></div>
<div class="hero-unit post_page_post">
  <div class="inline post_info">
    <div class="center">
      <%if current_user %>
      <% if current_user == @post.user %>
        <%= image_tag avatar_url(@post.user, 76), :class => 'current_user_pic' %>
      <% elsif @post.user.admin? %>
        <%= image_tag avatar_url(@post.user, 76), :class => 'admin_pic' %>
      <%else%>
        <%= image_tag avatar_url(@post.user, 76), :class => 'post_author_pic' %>
      <%end%>
      <%else%>
      <%= image_tag avatar_url(@post.user, 76), :class => 'post_author_pic' %>
      <%end%>
      <br><%= link_to @post.user.name, @post.user%> <span class="user_pluses">(+<%=collect_plus(@post.user)%>)</span> <br>
      <%if @post.user.admin? || @post.user.moderator?%><%if @post.user.admin?%><mark class="user-role">admin</mark><%end%><%if @post.user.moderator?%>&nbsp;<mark class="user-role">moderator</mark><%end%><br><%end%>
       <%= @post.created_at.strftime("%b. %d %Y") %>
       
       <div class="lh-small">
      <% if !@post.post_updated_at %>
        <%= time_ago_in_words(@post.created_at) %> ago 
      <%else%>
        Updated <%= time_ago_in_words(@post.post_updated_at) %> ago by <%=link_to User.find(@post.post_updated_by).name, User.find(@post.post_updated_by) %>
      <% end %>
      </div>
       <div class="small">
        <%if current_user%>
          <a href="#bottom">
            Comment
          </a>
          <%if current_user == @post.user || current_user.admin? || current_user.moderator? %>
            | <%= link_to 'Edit', edit_post_path(@post) %> 
            | <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <%end%>
        <%end%>
      </div>
    </div>

      
  </div>
  <div class="inline post_content">
    <h1> <%=@post.title%> </h1><p></p>
    <%=raw render_body(@post)%>
    <% if current_user %>
      <div id="follow-post">
        <%= render :partial => 'follow', :locals => {:post => @post, :user => current_user} %>
      </div>
    <%end%>
  </div>
</div>


<div id="comments_container">
<% if @post.comments.length > 0 %>
  <% @post.comments.each do |comment| %>
    <%= render :partial => '/comments/comment', :object => comment%>
  <%end%>
<%end%></div>
  
<%if current_user %>
<%= form_for @comment, :remote => true do |f| %>
  <div class="well">
    <div class="field">
      <div id="wmd-button-bar"></div>
      <%= f.text_area :content, :id => 'wmd-input', :class =>'full_wide get_me', :placeholder => "Comments Go Here..." %>
    </div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :post_id, :value => @post.id %>
    <div class="actions comment_actions">
      <%= f.submit "Comment", :class => 'btn'%>
      &nbsp; &nbsp;&nbsp;<span class="note"> Comments are parsed with <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown Syntax</a></span>
    </div>
  </div>
<%end%>
<%end%>

<script>
  setup_wmd({
      input: "wmd-input",
      button_bar: "wmd-button-bar"
  });
</script>

<div id="bottom"></div>