<div class="underlay"></div>
<div class="overlay hero-unit">
  <%=image_tag "rem.png", :class => "close_overlay"%>
  <form accept-charset="UTF-8" action="" class="edit_comment" id="edit_comment_96" method="post" data-remote="true">
  <div class="field">
      <textarea cols="40" id="t-input" name="comment[content]" placeholder="Comment Content Here" rows="20">test123</textarea>
  </div>
  <div class="actions"><input class="btn" name="commit" type="submit" value="Update Comment">&nbsp; &nbsp;&nbsp;<span class="note"> Comments are parsed with <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown Syntax</a></span></div></form>
</div>

<div id="post_nav">
  <a onclick="goToByScroll('top')">&uarr;</a><br>
  –<br>
  <a onclick="goToByScroll('bottom')">&darr;</a>
</div>
<div id="top"></div>
<div class="hero-unit post_page_post">
  <div class="inline post_info">
    <p class="center">
      <%if current_user %>
      <% if current_user == @post.user %>
        <%= image_tag avatar_url(@post.user, 76), :class => 'current_user_pic' %>
      <% elsif @post.user.admin? %>
        <%= image_tag avatar_url(@post.user, 76), :class => 'admin_pic' %>
      <%else%>
        <%= image_tag avatar_url(@post.user, 76), :class => 'post_author_pic' %>
      <%end%>
      <%else%>
      <%= image_tag avatar_url(@post.user, 76), :class => 'post_author_pic' %>
      <%end%>
      <br><%= link_to @post.user.name, @post.user%> <span class="user_pluses">(+<%=collect_plus(@post.user)%>)</span> <br>
      <%if @post.user.admin? || @post.user.moderator?%><%if @post.user.admin?%><mark class="user-role">admin</mark><%end%><%if @post.user.moderator?%>&nbsp;<mark class="user-role">moderator</mark><br><%end%><%end%>
       <%= time_ago_in_words(@post.created_at) %> ago <br><%= @post.created_at.strftime("%b. %d %Y") %><br><small><%if current_user%><a href="#bottom">Comment</a><%end%> <% if current_user %><%if current_user == @post.user || current_user.admin? || current_user.moderator? %>| <%= link_to 'Edit', edit_post_path(@post) %> | <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %><%end%><%end%></small> </p>
  </div>
  <div class="inline post_content">
    <h1> <%=@post.title%> </h1>
    <p class="inline comment_body"><p><%=raw render_body(@post)%></p></p>
  </div>
</div>



<% if @post.comments.length > 0 %><div id="comments_container">
  <% @post.comments.each do |comment| %>
    <%= render :partial => '/comments/comment', :object => comment%>
  <%end%>
</div><%end%>

<%if current_user %>

<%= form_for @comment, :remote => true do |f| %>
<div class="well">
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <div id="wmd-button-bar"></div>
    <%= f.text_area :content, :id => 'wmd-input', :class =>'full_wide get_me', :placeholder => "Comments Go Here..." %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :post_id, :value => @post.id %>
  <div class="actions comment_actions">
    <%= f.submit "Comment", :class => 'btn'%>
    &nbsp; &nbsp;&nbsp;<span class="note"> Comments are parsed with <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown Syntax</a></span>
  </div>
</div>
<% end %>
<%end%>

<div id="bottom"></div>