<%= link_to '« Go back', root_url %>
<div id="disqus_thread" class="noborder post_">
  <p class="inline post_page_title"><%= @post.title %></p><br><br>
  <p class="inline"><%= image_tag avatar_url(@post.user, 80), :class => 'comment_avatar' %></p>
  <p class="inline comment_header">Posted by <%= link_to @post.user.name, @post.user%>  <%= time_ago_in_words(@post.created_at) %> ago. <% if current_user %><%if current_user == @post.user || current_user.email == 'joahd@gbergfamily.com'%><%= link_to 'Edit', edit_post_path(@post) %> | <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %><%end%><%end%></p><br>
  <p class="inline comment_body"><p><%=raw @post.content%></p></p>
</div>

<% if @post.comments.length > 0 %>
  <% @post.comments.each do |comment| %>
    <div id="disqus_thread">
      <p class="inline"><%= image_tag avatar_url(comment.user, 80), :class => 'comment_avatar' %></p>
      <p class="inline comment_header">Commented by <%= link_to comment.user.name, comment.user%>  <%= time_ago_in_words(comment.created_at) %> ago. <% if current_user %><% if current_user == comment.user || current_user.email == 'joahd@gbergfamily.com'%><%= link_to 'Delete', comment, method: :delete %><%end%><%end%></p><br>
      <p class="inline comment_body"><p id="<%=comment.id%>"><%=raw comment.content%></p></p>
    </div>
  <%end%>
<%else%>
  <br>
  <br>
<%end%>

<%if current_user %>
<div id="disqus_thread">
<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_area :content, :class => 'full_wide' %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :post_id, :value => @post.id %>
  <div class="actions">
    <%= f.submit "Comment"%> <span class="note"> Comments are parsed with <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown Syntax</a></span>
  </div>
</div>
<% end %>
<%end%>